<html>
	<head>
		<meta charset="UTF-8">
		<base href="/" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body>
		<section id="header">
			<a href=""><img class="logo" src="/images/logo.png" alt="LarvIT-logo" /></a>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/who">Who?</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</section>
